// Body
$body-bg: #FBF780;
$body-dark-bg: #E7E36C;
$border-color: #E0DC7C;

// Brands
$brand-cta: #e4f3c8;
$brand-cta-hover: #b5de4f;
$brand-cta-visited: #8fa852;
$border-left-padding: 125px;

$brand-lt-grey: #f6f7f7;
$brand-dk-grey: #111111;
$brand-md-grey: #434A42;

//colors
$dark-text: #484848;
$light-grey: #EEEEEE;
$off-white: #acacac;
$header-color: #272727;
$text-color: #585858;
$dark-text-color: #5A5A5A;
$light-text-color: #BABABA;

// Navbar
$navbar-default-bg: #fff;

// Panels
$panel-default-heading-bg: #fff;

$section-padding: 100px;
