@media (max-width: 414px) {
  .buzz--container {
    padding: 10px;
  }
  .crawler--input-list{
   padding-left: 20px;
  }
  .crawler--input-group input{
    font-size: 16px;
  }
  .analytic--container {
    padding-top: 25px;
    margin-bottom: 50px;
  }
  .analytic--group li {
    font-size: 12px;
  }
  .analytic--group .highlight {
    font-size: 22px;
  }
  .analytic--group .important {
    font-size: 18px;
  }
  .analytic--group .group--count {
    display: none;
  }
  .analytic--group .group--word span {
    display: block;
    font-size: 10px;
  }
}