$body-anolog: #7FFA90;

.crawler-input--container {
  width: 100%;
  height: 60%;
  @include flex();
  @include flex-column();
  justify-content: flex-end;
  position: relative;
}

.crawler--cta{
  text-align: left;
  width: 70%;
  padding: 3rem $border-left-padding;
  line-height: 1;
}

.crawler--input-group{
  width: 100%;
  height: 75px;
  position: relative;
  .input--notification {
    width: 100%;
    height: 35px;
    position: absolute;
    left: 0;
    top: -35px;
    padding: 10px;
    padding-left: $border-left-padding;
    p {
      color: white;
    }
  }
  .red {
    background-color: red;
  }
  .green {
    background-color: $body-anolog;
  }
  .group--container {
    @include cover();
    z-index: 99;
    background-color: $body-bg;
    border-top: 1px solid #E0DC7C;
    border-bottom: 1px solid #E0DC7C;
    padding-left: $border-left-padding;
    @include flex();
    @include flex-row(wrap);
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .crawler--tut {
    width: 400px;
    @include card(3);
    position: absolute;
    left: 15%;
    top: -350px;
    text-align: left;
    background-color: $body-anolog;
    padding: 10px;
    .tut--info {
      padding: 10px;
    }
    .caret {
      position: absolute;
      left: 50%;
      bottom: 0;
      margin-left: -30px;
    }

    .caret:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-top: 30px solid $body-anolog;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
    }

    .caret:after {
      content: '';
      position: absolute;
      left: 1px;
      top: 0;
      border-top: 29px solid $body-anolog;
      border-left: 29px solid transparent;
      border-right: 29px solid transparent;
    }
    button {
      width: 100%;
    }
    p {
      padding: 10px;
    }
    img {
      width: 100%;
    }
  }
  input, button {
    height: 100%;
  }
  input {
    width: 80%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 26px;
    color: #B8B454;
  }
  .submit--btn {
    width: 20%;
    color: white;
    outline: none;
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    opacity: 0;
    pointer-events: none;
    @include breezy-transition(all, .5s)
  }
  .active--button {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
    background-color: #111810;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #B8B454;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #B8B454;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #B8B454;
}


.crawler--input-list{
  position: absolute;
  left: 0;
  bottom: -24px;
  background-color: #E7E36C;
  padding-left: $border-left-padding;
  @include flex();
  @include flex-row(wrap);
  .input--item {
    background-color: #FBF780;
    padding: 2px;
    font-size: 8px;
    margin-right: 5px;
    @include flex();
    @include flex-row(nowrap);
    .item--option {
      border-left: 1px solid #E7E36C;
      padding-left: 5px;
      cursor: pointer;
    }
  }
}

@import "crawler@mobile";