@media (max-width: 414px) {
  .buzz--container {
    padding: 10px;
    padding-top: 45px;
  }
  .log--results  {
    align-items: center;
    justify-content: center;
    padding: 0;

    .result {
      width: 100%!important;
      margin-bottom: 15px;
      margin-right: 0;
    }
  }
}