@media (max-width: 375px) {
  .side-panel{
    display: none;
  }
  .splash-panel {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $body-bg;
    z-index: 999;
    @include flex();
    @include flex-center();
  }
}