@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Merriweather);* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

html,
body,
#app,
.container,
#__nuxt,
#__layout,
main,
.content {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  max-width: none;
}

[v-cloak] {
  display: none;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.component--container {
  position: relative;
  padding: 0 !important;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

a:hover {
  text-decoration: none !important;
}

/* unvisited link */

a:link {
  color: inherit;
  text-decoration: none !important;
}

/* visited link */

a:visited {
  color: inherit;
  text-decoration: none !important;
}

/* mouse over link */

a:hover {
  color: inherit;
  text-decoration: none !important;
}

/* selected link */

a:active {
  color: inherit;
  text-decoration: none !important;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  margin-top: 0;
}

.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.overlay--dark {
  background-color: black;
  opacity: .4;
}

.container--center {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container--row {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mck-icon {
  border-radius: 50%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.flexed-center {
  width: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.md-list {
  padding: 0;
}

.missing-input label {
  color: red;
}

.md-select-content {
  z-index: 999999999999999;
}

.md-select-content button {
  z-index: 99999999999999991611392 !important;
}

.datepicker--container {
  width: 100%;
  position: relative;
}

.datepicker--container .vdp-datepicker {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.datepicker--container .vdp-datepicker input {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
}

.md-backdrop {
  position: fixed !important;
}

/* This stylesheet generated by Transfonter (https://transfonter.org) on April 18, 2018 3:16 PM */

h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Merriweather', sans-serif;
}

.bzz--btn {
  padding: 15px 20px;
  outline: none;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.clear-wBorder--btn {
  background-color: transparent;
  border: 1px solid #c7c22b;
  color: #c7c22b;
}

.clear-wBorder--btn:hover {
  background-color: black;
  color: white;
  border-color: black;
  cursor: pointer;
}

.implode-enter-active,
.implode-leave-active {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.implode-enter,
.implode-leave-to {
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade--backdrop-enter-active,
.fade--backdrop-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: .4;
}

.fade--backdrop-enter,
.fade--backdrop-leave-to {
  opacity: 0;
}

.slideUp-enter-active,
.slideUp-leave-active {
  -webkit-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.slideUp-enter,
.slideUp-leave-to {
  opacity: 0;
  -webkit-transform: translateY(500px);
  transform: translateY(500px);
}

.shortSlideUp-enter-active,
.shortSlideUp-leave-active {
  -webkit-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.shortSlideUp-enter,
.shortSlideUp-leave-to {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}

.shortSlideDown-enter-active,
.shortSlideDown-leave-active {
  -webkit-transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.shortSlideDown-enter,
.shortSlideDown-leave-to {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.list-enter-active,
.list-leave-active {
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.list-enter,
.list-leave-to {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}

.scaleZoom-enter-active,
.scaleZoom-leave-active {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.scaleZoom-enter,
.scaleZoom-leave-to {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}

.side-panel--container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 80px;
  z-index: 99999;
}

.side-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 400px;
  margin-left: -320px;
  background-color: #FFFFA8;
  -webkit-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-panel .panel--plate {
  position: absolute;
  top: 0;
  left: 0;
}

.side-panel .history--container {
  position: absolute;
  bottom: 25px;
}

.side-panel .history--container .history--table {
  min-height: 100px;
  max-height: 600px;
}

.side-panel .history--container .history--table p {
  text-align: left;
  border-bottom: 2px solid #E0DC7C;
  padding: 15px;
}

.side-panel .history--container .history--table ul li {
  padding: 15px;
  font-size: 12px;
  text-align: left;
  position: relative;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  overflow: hidden;
}

.side-panel .history--container .history--table ul li:hover {
  opacity: .8;
  cursor: pointer;
}

.side-panel .history--container .history--table ul > * + * {
  border-top: 1px solid #E0DC7C;
}

.side-panel .history--container .history--table .clip-item-note {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: black;
  padding: 5px;
  color: white;
  border-radius: 5px;
}

.side-panel--active {
  margin-left: 0;
}

.crawler-ghost-bar {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 99;
  pointer-events: none;
}

.crawler-ghost-bar .ghost-bar {
  height: 75px;
  border-top: 1px solid #E0DC7C;
  border-bottom: 1px solid #E0DC7C;
}

.panel--plate {
  width: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
}

.panel--plate button {
  position: absolute;
  right: 15px;
  border-radius: 5px;
  padding: 5px;
}

.panel--plate button img {
  width: 50%;
}

.panel--plate img {
  height: 50px;
}

.history--container {
  width: 100%;
  padding: 0px 15px;
}

.history--container .history--table {
  width: 100%;
  background-color: #E7E36C;
}

@media (max-width: 414px) {
  .side-panel {
    display: none;
  }

  .splash-panel {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FBF780;
    z-index: 999;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    /* NEW - Chrome */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.crawler-input--container {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.crawler--cta {
  text-align: left;
  width: 70%;
  padding: 3rem 125px;
  line-height: 1;
}

.crawler--input-group {
  width: 100%;
  border-top: 1px solid #E0DC7C;
  border-bottom: 1px solid #E0DC7C;
  height: 75px;
  padding-left: 125px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.crawler--input-group .crawler--tut {
  width: 400px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  position: absolute;
  left: 15%;
  top: -350px;
  text-align: left;
  background-color: #ACFA7F;
}

.crawler--input-group .crawler--tut .tut--info {
  padding: 10px;
}

.crawler--input-group .crawler--tut .caret {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -30px;
}

.crawler--input-group .crawler--tut .caret:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 30px solid #ACFA7F;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.crawler--input-group .crawler--tut .caret:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 0;
  border-top: 29px solid #ACFA7F;
  border-left: 29px solid transparent;
  border-right: 29px solid transparent;
}

.crawler--input-group .crawler--tut button {
  width: 100%;
}

.crawler--input-group .crawler--tut p {
  padding: 10px;
}

.crawler--input-group .crawler--tut img {
  width: 100%;
}

.crawler--input-group input,
.crawler--input-group button {
  height: 100%;
}

.crawler--input-group input {
  width: 80%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 26px;
  color: #B8B454;
}

.crawler--input-group .submit--btn {
  width: 20%;
  color: white;
  outline: none;
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.crawler--input-group .active--button {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
  background-color: #111810;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #B8B454;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #B8B454;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #B8B454;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #B8B454;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #B8B454;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #B8B454;
}

.crawler--input-list {
  position: absolute;
  left: 0;
  bottom: -24px;
  background-color: #E7E36C;
  padding-left: 125px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.crawler--input-list .input--item {
  background-color: #FBF780;
  padding: 2px;
  font-size: 8px;
  margin-right: 5px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.crawler--input-list .input--item .item--option {
  border-left: 1px solid #E7E36C;
  padding-left: 5px;
  cursor: pointer;
}

@media (max-width: 414px) {
  .crawler--cta {
    padding: 3rem 20px;
    width: 90%;
  }

  .crawler--input-group {
    padding-left: 20px;
  }
}

.buzz--container {
  background-color: #E7E36C;
  width: 100%;
  min-height: 50%;
  padding: 5% 125px;
  padding-right: 2%;
}

.analytic--container {
  margin-bottom: 100px;
}

.analytic--container button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: 1px solid black;
}

.analytic--banner {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.analytic--banner button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: 1px solid black;
}

.analytic--banner h1 {
  text-align: left;
}

.analytic--banner > * + * {
  margin-left: 5%;
}

.analytic--group {
  width: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.analytic--group li {
  margin-right: 3%;
  font-size: 22px;
  background-color: #FBF780;
  margin-bottom: 25px;
  font-family: 'Merriweather', sans-serif;
  position: relative;
  cursor: pointer;
}

.analytic--group li:hover .group--count {
  margin-left: 0;
}

.analytic--group .group--count,
.analytic--group .group--word {
  background-color: #FBF780;
}

.analytic--group .group--word {
  padding: 15px;
  position: relative;
  z-index: 99;
  border: 1px solid #DDD962;
}

.analytic--group .group--word span {
  display: none;
}

.analytic--group .group--count {
  position: absolute;
  left: 100%;
  padding: 0 5px;
  margin-left: -50%;
  top: 0;
  font-size: 14px;
  height: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.analytic--group .highlight {
  font-size: 36px;
}

.analytic--group .important {
  font-size: 28px;
}

@media (max-width: 414px) {
  .buzz--container {
    padding: 10px;
  }

  .crawler--input-list {
    padding-left: 20px;
  }

  .crawler--input-group input {
    font-size: 16px;
  }

  .analytic--container {
    padding-top: 25px;
    margin-bottom: 50px;
  }

  .analytic--group li {
    font-size: 12px;
  }

  .analytic--group .highlight {
    font-size: 22px;
  }

  .analytic--group .important {
    font-size: 18px;
  }

  .analytic--group .group--count {
    display: none;
  }

  .analytic--group .group--word span {
    display: block;
    font-size: 10px;
  }
}

.crawler--nav {
  width: 100%;
  z-index: 9999;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 2rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.crawler--nav .nav--logo {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 125px;
}

.crawler--nav .nav--logo img {
  width: 100%;
}

.crawler--nav .nav {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.crawler--nav .nav li {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.crawler--nav .nav > * + * {
  margin-left: 15px;
}

.nav--mobile-btn {
  display: none;
}

@media (max-width: 414px) {
  .crawler--nav {
    position: relative;
    z-index: 999999;
  }

  .crawler--nav .nav--logo {
    left: 20px;
    top: 20px;
  }

  .crawler--nav .nav {
    display: none;
  }

  .nav--mobile-btn {
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
  }
}

/* Make clicks pass-through */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: black;
  position: fixed;
  z-index: 999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

/* Fancy blur effect */

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px black, 0 0 5px black;
          box-shadow: 0 0 10px black, 0 0 5px black;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: black;
  border-left-color: black;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.log--sectioned {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #E0DC7C;
}

.log--sectioned .log--search {
  width: 100%;
  height: 65px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-bottom: 1px solid #E7E36C;
}

.log--sectioned .log--search input {
  width: 70%;
  background-color: #FBF780;
  outline: none;
  border: none;
  padding: 15px;
  font-size: 32px;
  color: #B8B454;
}

.log--sectioned .log--search .filter--option {
  width: 20%;
}

.log--sectioned .log--search .filter--option button {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: #FBF780;
  border-left: 1px solid #E7E36C;
}

.log--sectioned .log--search .filter--option button:hover {
  background-color: #E7E36C;
  cursor: pointer;
}

.log--sectioned .log--search .filter--option .option--dropdown {
  -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  background-color: #fdfab1;
  position: relative;
  z-index: 99;
}

.log--sectioned .log--search .filter--option .option--dropdown li {
  padding: 10px;
  cursor: pointer;
}

.log--sectioned .log--search .filter--option .option--dropdown li:hover {
  background-color: #FBF780;
}

.log--sectioned .log--search .filter--direction {
  width: 10%;
}

.log--sectioned .log--search .filter--direction button {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #FBF780;
  border-left: 1px solid #E7E36C;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.log--sectioned .log--search .filter--direction button img {
  height: 35px;
}

.log--sectioned .log--list {
  width: 30%;
  height: 100%;
  background-color: #FBF780;
  -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.log--sectioned .log--list .search--results li {
  text-align: left;
  font-size: 12px;
  padding: 30px 25px;
  overflow: hidden;
}

.log--sectioned .log--list .search--results li:hover {
  opacity: .8;
  cursor: pointer;
}

.log--sectioned .log--list .result {
  width: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.log--results {
  width: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.log--results .result {
  padding-right: 15px;
  width: 25%;
  margin-bottom: 25px;
}

.log--results .result .result--card {
  background-color: #FBF780;
  -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.log--results .result a > div,
.log--results .result > div {
  padding: 15px;
}

.log--results .result .result--header,
.log--results .result .result--footer {
  padding: 15px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.log--results .result .result--header {
  border-bottom: 1px solid #E0DC7C;
}

.log--results .result .result--footer {
  font-size: 12px;
}

.log--results .result .result--data {
  text-align: left;
  height: 200px;
}

.log--results .result .result--data h2 {
  font-size: 2rem;
  line-height: 1;
}

.log--results .result .result--data > * + * {
  margin-top: 15px;
}

.meta--data {
  font-size: 12px;
}

.analytics--container .log--results {
  padding: 0;
}

.analytics--container .log--results .result {
  width: 33.3%;
}

@media (max-width: 414px) {
  .buzz--container {
    padding: 10px;
    padding-top: 45px;
  }

  .log--results {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }

  .log--results .result {
    width: 100% !important;
    margin-bottom: 15px;
    margin-right: 0;
    padding-right: 0;
  }
}

.modal--container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999999999;
}

.modal--screen {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
}

.modal--overlay {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #5A5A5A;
  opacity: .4;
  z-index: 10;
}

.modal {
  -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  background-color: #FBF780;
  max-width: 50%;
  max-height: 70%;
}

.modal .md-field:after,
.modal .md-field:before {
  background: black;
}

.entry--data {
  padding: 25px;
}

.welcome {
  width: 50%;
  height: 60%;
  padding: 10px;
}

.welcome .md-steppers-navigation {
  display: none;
}

.slide {
  height: 100%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slide--0 h1 {
  font-size: 3rem;
}

.slide--header {
  width: 100%;
  height: 10%;
}

.slide--container {
  width: 100%;
  height: 350px;
  line-height: 1.2;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide--container .md-field {
  margin-top: 30px;
  width: 75%;
}

.slide--footer {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide--footer button {
  padding: 0;
  width: 150px;
  height: 50px;
  background-color: black !important;
}

.slide--footer > * + * {
  margin-left: 15px;
}

#app,
body {
  background-color: #FBF780;
  color: #434A42;
}

